<div id="map">
  <script>

    function initMap() {
      var myLatLng = {lat: -41.295210, lng: 174.783687};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4yYpc2gelWpiLiV5S_usvXiRndEd-4tU&callback=initMap"
    async defer></script>
</div>
