<div id="parent">
  <div id="box">
    <h1>Kitchen Findr</h1>
      <ul>
        {{#each kitchens}}
          <li>{{name}}</li>
          <li>{{address}}</li>
        {{/each}}
      </ul>
  </div>
  <div id="map"></div>
</div>
<script src="javascripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4yYpc2gelWpiLiV5S_usvXiRndEd-4tU&callback=initialize" async defer></script>
