<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen Findr</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Prompt:400,600" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
