<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
