html, body {
  /* Site Wide Text */
  color: black;
  font-family: 'Prompt', sans-serif;

  /* General Styling */
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#parent {
  display: flex;
  height: 100%;
}
#box {
  width: 30%;
}

#map {
  flex: 1;
}
