html, body {
  /* Site Wide Text */
  color: #e4eff4;
  font-family: 'Prompt', sans-serif;

  /* Background */
  background-color: #221f23;

 /* General Styling */
 height: 100%;
 margin: 0;
 padding: 0;

}

#map {
    height: 50%;
    width: 50%;
}
